#
# File      ~/.inputrc
# Author    Heiko Klausing
# Created   2018-07-22
#
# Restart windows manager after changing the file content.
# Reload this file: Ctrl-X Ctrl-R
#
# Tested on RHEL 5.11 & RHEL 7.4, Manjaro, rasbian
#
# Additional informations can be found here:
#   https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html
#   https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/
#

# First, include any system-wide bindings and variable assignments
# from /etc/inputrc. Changes to that file content will be done in
# this file
$include /etc/inputrc

# Key codes can be checked by 'sed -n l', and also check used bindings
#  with 'bind -lP'.
#
## Key: down
#"\e[B": history-search-forward
## Key: up
#"\e[A": history-search-backward

# Key: page-down
#"\C-n":history-search-forward
"\e[6~": history-search-forward
# Key: CTRL-page-down
#"\e[6;5~": history-search-forward
# Key: page-up
#"\C-p":history-search-backward
"\e[5~": history-search-backward
# Key: CTRL-page-up
#"\e[5;5~": history-search-backward

# Reload this file by pressing the key combination: CTRL-x CTRL-r
"\C-x\C-r": re-read-init-file

# displays the common prefix of the set of possible completions using
# a different color.
set colored-completion-prefix on

# displays possible completions using different colors to indicate
# their file type.
set colored-stats on

# performs filename matching and completion in a case-insensitive
# fashion.
set completion-ignore-case on

# prefix of a list of possible completions that is displayed without
# modification.
set completion-prefix-display-length 5

# completed names which are symbolic links to directories have a
# slash appended.
set mark-symlinked-directories on

# words which have more than one possible completion cause the
# matches to be listed immediately.
set show-all-if-ambiguous on

# words which have more than one possible completion without any
# possible partial completion (the possible completions don’t share
# a common prefix) cause the matches to be listed immediately.
set show-all-if-unmodified on

# a character denoting a file’s type is appended to the filename when
# listing possible completions.
set visible-stats on

