#
# File: ~/.inputrc
#

# take care for common settings
$include /etc/inputrc

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward


# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word
